<!-- _includes/logo-footer.html -->
<div class="ts-logo-footer" aria-label="Tillerstead LLC logo">
  <svg class="ts-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 440 128" width="160" height="52" role="img" aria-labelledby="tsLogoTitleFooter">
    <title id="tsLogoTitleFooter">Tillerstead LLC</title>
    <g class="ts-logo-mark" stroke-width="6" stroke-linejoin="miter">
      <rect x="10"  y="16"  width="32" height="32" class="ts-logo-tile" />
      <rect x="50"  y="16"  width="32" height="32" class="ts-logo-tile" />
      <rect x="90"  y="16"  width="32" height="32" class="ts-logo-tile" />
      <rect x="50"  y="56"  width="32" height="32" class="ts-logo-tile" />
      <rect x="50"  y="96"  width="32" height="32" class="ts-logo-tile" />
    </g>
    <text x="150" y="72" class="ts-logo-word" font-size="40" font-weight="700">TILLERSTEAD</text>
  </svg>
</div>
